<!DOCTYPE html>
<html>
  <%- include('sections/header'); %>

  <body>
    <%- include('sections/navbar'); %>

    <h1>Welcome, <%= username %>!</h1>

    <%- include('sections/serviceList'); %>
  </body>
</html>
