<!DOCTYPE html>
<html>
  <%- include('sections/header'); %>
  <body class="text-center">
    <form action="login" method="POST" class="form-signin">
      <img
        class="mb-4"
        src="https://bc6dcae6.rocketcdn.me/wp-content/uploads/2022/11/logo-perizia-facile-def.png"
        alt=""
      />
      <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
      <input
        type="text"
        id="inputUsername"
        class="form-control"
        placeholder="Username"
        name="username"
        required=""
        autofocus=""
      />
      <input
        type="password"
        id="inputPassword"
        name="password"
        class="form-control"
        placeholder="Password"
        required=""
      />
      <button class="btn btn-lg btn-primary btn-block w-100" type="submit">
        Log In
      </button>
      <!--  <a class="button w-100" href="/signup">Sign up</a> -->
      <span id="loginerr" class="text-danger"><%= errlogin %></span>
    </form>
  </body>
</html>
