<!DOCTYPE html>
<html>
  <%- include('../sections/header'); %>
  <body>
    <%- include('../sections/navbar'); %>
    <main>
      <%- include('../sections/sidebar'); %>
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-white w-100 h-100">
        <h1>Collaboratori</h1>
        <%- include('../sections/collabList'); %>
      </div>
    </main>
  </body>
</html>
